name: Java CI

on:
  push:
    branches: 
      - main
      - feature/**
  pull_request:
    branches: 
      - main
      - feature/**


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'

    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots package
      # Add this after the build step
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: target/**/*.xml

        # Add this after the test results step
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
         name: my-app-1.0
         path: target/*


